{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
{{!-- <div class="p-5"></div> --}}
<div class="px-5">
    {{#with main}}
    <h1 class="my-2">{{title}}</h1>
    <p>{{description}}</p>
    {{/with}}

  {{#each pages}}
    <div class="my-2"><a href="{{link}}" class="btn btn-primary" target="_blank"><b>{{name}}</b></a></div>
  {{/each}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}