    <nav>
        {{> link text="Skills" href="/skills" line=true }}
        {{!-- <a href="/skills">Skills</a> --}}
        {{> link text="Summary" href="/summary" line=true }}
        {{!-- <a href="/summary">Summary</a> --}}
        {{> link text="Education" href="/education" line=true }}
        {{!-- <a href="/skills">Skills</a> --}}
        {{> link text="Work" href="/work" line=true noLine=true }}
        {{!-- <a href="/skills">Skills</a> --}}
    </nav>